<%- include('../layouts/header', {title: 'config-title' }); %>

  <%- include('../layouts/sidebar'); %>

    <div class="main-content">

      <%- include('../layouts/navbar', {title: 'Configuración del sistema' ,
        subtitle: 'Opciones, registros, restauración...' }); %>

        <div class="body-content">

          <div class="config-sidebar">
            <div class="config-sidebar__option active" data-target="configuracion">
              <h2>Configuración</h2>
            </div>
            <div class="config-sidebar__option" data-target="sistema">
              <h2>Auditoría Sistema</h2>
            </div>
            <div class="config-sidebar__option" data-target="trackers">
              <h2>Auditoría Trackers</h2>
            </div>
            <div class="config-sidebar__option" data-target="usuarios">
              <h2>Auditoría Usuarios</h2>
            </div>
            <div class="config-sidebar__option" data-target="ayuda">
              <h2>Ayuda</h2>
            </div>
            <div class="config-sidebar__option ultimo">
              <h2>Restaurar de fábrica</h2>
            </div>
          </div>

          <div class="config-content">

            <div class="log-container" id="configuracion" style="display: block;">
              <h2>Configuración del sistema</h2>
              <table class="log-container__table">
                <thead>
                  <tr>

                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Activar wifi</td>
                    <td>Sí</td>
                  </tr>
                  <tr>
                    <td>Activar alertas</td>
                    <td>No</td>
                  </tr>
                  <tr>
                    <td>Volumen de alerta</td>
                    <td>50%</td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div class="log-container" id="sistema">
              <h2>Registro de auditoría del sistema</h2>
              <table class="log-container__table">
                <thead>
                  <tr>
                    <th>Evento</th>
                    <th>Fecha</th>
                    <th>Usuario</th>
                    <th>Resultado</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Encendido del servidor</td>
                    <td>2023-04-15 08:00:00</td>
                    <td>sysadmin</td>
                    <td>OK</td>
                  </tr>
                  <tr>
                    <td>Actualización de software</td>
                    <td>2023-04-15 10:00:00</td>
                    <td>sysadmin</td>
                    <td>OK</td>
                  </tr>
                  <tr>
                    <td>Error de red</td>
                    <td>2023-04-15 10:15:00</td>
                    <td>-</td>
                    <td>Fallo</td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div class="log-container" id="trackers">
              <h2>Registro de auditoría de dispositivos</h2>
              <table class="log-container__table">
                <thead>
                  <tr>
                    <th>ID Tracker</th>
                    <th>Timestamp</th>
                    <th>Level</th>
                    <th>Source</th>
                    <th>Action</th>
                    <th>Description</th>
                  </tr>
                </thead>
                <tbody>
                  <% if (trackerLogs && trackerLogs.length> 0) { %>
                    <% trackerLogs.forEach(log=> { %>
                      <tr>
                        <td>
                          <%= log.id %>
                        </td>
                        <td>
                          <%= log.timestamp %>
                        </td>
                        <td>
                          <%= log.level %>
                        </td>
                        <td>
                          <%= log.source %>
                        </td>
                        <td>
                          <%= log.action %>
                        </td>
                        <td>
                          <%= log.description %>
                        </td>
                      </tr>
                      <% }) %>
                        <% } else { %>
                          <tr>
                            <td colspan="7">No hay registros disponibles</td>
                          </tr>
                          <% } %>
                </tbody>
              </table>
            </div>


            <div class="log-container" id="usuarios">
              <h2>Registro de auditoría de usuarios</h2>
              <table class="log-container__table">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Timestamp</th>
                    <th>Level</th>
                    <th>Source</th>
                    <th>Action</th>
                    <th>Description</th>
                  </tr>
                </thead>
                <tbody>
                  <% if (userLogs && userLogs.length> 0) { %>
                    <% userLogs.forEach(log=> { %>
                      <tr>
                        <td>
                          <%= log.id %>
                        </td>
                        <td>
                          <%= log.timestamp %>
                        </td>
                        <td>
                          <%= log.level %>
                        </td>
                        <td>
                          <%= log.source %>
                        </td>
                        <td>
                          <%= log.action %>
                        </td>
                        <td>
                          <%= log.description %>
                        </td>
                      </tr>
                      <% }) %>
                        <% } else { %>
                          <tr>
                            <td colspan="6">No hay registros disponibles</td>
                          </tr>
                          <% } %>
                </tbody>
              </table>
            </div>


            <div class="log-container" id="ayuda" style="display:none;">
              <h2>Ayudin</h2>
              <div style="width:60%; margin:auto; text-align: center;">
                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstley"> Ir a la pagina web de
                  ayuda!!!</a>

              </div>
            </div>

          </div>
        </div>
    </div>


    <style>
      .body-content {
        display: flex;
        flex-direction: row;
        min-height: 90vh;
      }

      .config-sidebar {
        display: flex;
        flex-direction: column;
        background-color: white;
        box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.4);
        z-index: 500;
        width: 20%;
      }

      .config-sidebar__option {
        width: 100%;
        padding: .8rem 1rem;
        cursor: pointer;
        transition: all 0.25s ease;

        border-right: 5px solid transparent;
      }

      .config-sidebar__option:hover {
        background-color: rgba(0, 0, 0, 0.08);
      }

      .config-sidebar__option.active {
        background-color: rgba(0, 0, 0, 0.1);
        border-left: 5px solid #691c32;
      }

      .config-sidebar__option h2 {
        font-size: 1rem;
        font-weight: 400;
        margin: 0;
      }

      .ultimo {
        margin-top: auto;
      }

      .config-content {
        left: 20%;
        display: flex;
        flex-direction: column;
        width: 80%;
        background-color: rgba(170, 170, 170, 0.2);
      }

      .log-container {
        display: none;
        align-self: center;
        justify-self: center;
        width: 100%;
        height: 100%;
        padding: 1rem 0rem;
      }

      .log-container h2 {
        text-align: center;
        font-weight: bold;
        padding: .5rem 1rem;
        font-size: 1.25rem;
      }

      .log-container__table {
        width: 100%;
        font-size: .9rem;
        font-family: sans-serif;
      }

      .log-container__table thead tr {
        background-color: white;
        text-align: left;
        border-bottom: 2px solid rgba(0, 0, 0, 0.1);
      }

      .log-container__table th,
      .log-container__table td {
        padding: .5rem 1rem;
        white-space: nowrap;
      }

      .log-container__table td {
        padding: .5rem 1.5rem;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      }

      .log-container__table tbody tr {
        transition: all .25s ease;
      }

      .log-container__table tbody tr:hover {
        background-color: rgba(0, 0, 0, 0.05);
      }
    </style>

    <script>
      const sidebarOptions = document.querySelectorAll(".config-sidebar__option");
      const sections = document.querySelectorAll(".log-container");

      sidebarOptions.forEach(opt => {
        opt.addEventListener("click", () => {
          sidebarOptions.forEach(option => option.classList.remove("active"));
          sections.forEach(section => section.style.display = "none");

          opt.classList.add("active");
          document.getElementById(opt.dataset.target).style.display = "block";
        });
      });
    </script>

    <%- include('../layouts/footer'); %>