<%- include('../layouts/header', {title: 'Perfil de Usuario' }); %>
<%- include('../layouts/sidebar', {user: user}); %>

<div class="main-content">
  <%- include('../layouts/navbar', { title: 'Mi perfil', subtitle: 'Editar datos de tu cuenta' }); %>

  <div class="user-dashboard">

    <section class="profile-card help-box" 
              data-message="Esta es tu tarjeta de usuario: acá podes ver tu información y editar tu perfil" 
              data-position="right">
      
      <div class="profile-card__img help-box" 
            data-message="Esta es tu imagen de perfil!" 
            data-position="top">
        <i class="bi bi-person-fill"></i>
      </div>

      <div class="profile-card__info help-box" 
            data-message="Estos son tus datos" 
            data-position="left">
        <p><strong>Usuario:</strong> <%= user.username %></p>
        <p><strong>Rol:</strong><%= user.admin ? " Administrador" : " Usuario" %></p>
        <p>
          <strong>Estado:</strong>
          <%
            if (user.status === 'active') {
              %> Cuenta activa <%
            } else if (user.status === 'disabled') {
              %> Cuenta deshabilitada <%
            } else if (user.status === 'blocked') {
              %> Cuenta bloqueada <%
            } else if (user.status === 'pwd_change') {
              %> Cambio de contraseña pendiente <%
            }
          %>
        </p>
        <p><strong>Última conexión:</strong> <%= user.lastLogin %></p>
      </div>


      <div class="profile-edit help-box"
            data-message="En esta sección podés actualizar tus datos personales"
            data-position="right">

        <h2 class="profile-edit__title">Editar Perfil</h2>

        <form class="profile-edit__form" id="editProfileForm" action="/api/users/<%= user.id %>">
          
          <div class="form-group help-box" 
                data-message="Acá podes cambier el nombre de tu usuario" 
                data-position="left">
            <label for="username">Usuario</label>
            <input type="text" id="username" name="username" placeholder="<%= user.username %>" />
          </div>

          <div class="form-group help-box" 
                data-message="Acá podes cambiar tu contraseña. Debe tener al menos 8 caracteres, una mayúscula, una miníscula y un número" 
                data-position="left">
            <label for="password">Contraseña</label>
            <input type="password" id="password" name="password" placeholder="••••••••" />
          </div>

          <button class="confirm-btn help-box" type="submit" 
                    data-message="Presioná este botón para guardar tus cambios"
                    data-position="bottom">Guardar</button>
        </form>

      </div>

      <form class="profile-delete" id="deleteProfileForm" action="/api/users/<%= user.id %>">
      <button class="delete-btn help-box" type="submit"
              data-message="Si querés eliminar tu cuenta, podés hacerlo acá. ¡Cuidado, esta acción no se puede deshacer!"
              data-position="top">
        <i class="bi bi-trash"></i></button>
      </form>

    </section >
  </div>
</div>

<script>
  const editForm = document.getElementById("editProfileForm");
  editForm.addEventListener("submit", async (event) => {
    event.preventDefault();

    const payload = {};
    if (editForm.username.value) payload.username = editForm.username.value;
    if (editForm.password.value) payload.password = editForm.password.value;

    const { isConfirmed } = await Swal.fire({
      title: "¿Estás seguro que deseas modificar el usuario?",
      icon: "warning",
      showCancelButton: true,
      confirmButtonColor: "#451321",
      cancelButtonColor: "#ddd",
      confirmButtonText: "Sí, estoy seguro!"
    });

    if (isConfirmed) {
      try {
        const response = await fetch(editForm.action, {
          method: "PATCH",
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify(payload)
        });
  
        const result = await response.json();
  
        if (response.ok) {
          Swal.fire({
            title: "¡Usuario modificado!",
            text: "Tu usuario ha sido modificado con exito.",
            confirmButtonColor: "#451321",
            icon: "success"
          }).then( () => {
            location.reload();
          });
        } else {
          Swal.fire({
            title: "¡Ocurrio un error!",
            text: result.error,
            confirmButtonColor: "#451321",
            icon: "error"
          });
        }
      } catch (err) {
        console.error("Error al modificar perfil:", err);
        Swal.fire({
            title: "¡Ocurrio un error!",
            text: "Error al modificar el perfil.",
            confirmButtonColor: "#451321",
            icon: "error"
        });
      }
    }
  });

  const deleteForm = document.getElementById("deleteProfileForm");
  deleteForm.addEventListener("submit", async (event) => {
    event.preventDefault();

    const { isConfirmed } = await Swal.fire({
      title: "¿Estás seguro que deseas eliminar el usuario?",
      icon: "warning",
      showCancelButton: true,
      confirmButtonColor: "#451321",
      cancelButtonColor: "#ddd",
      confirmButtonText: "Sí, estoy seguro!"
    });

    if (isConfirmed) {
      try {
        const response = await fetch(deleteForm.action, { method: "DELETE" });
        const result = await response.json();
  
        if (response.ok) {
          Swal.fire({
            title: "Usuario eliminado",
            text: "Tu usuario ha sido eliminado con exito.",
            confirmButtonColor: "#451321",
            icon: "success"
          }).then( () => {
            window.location.href = "/logout"; // o redirigir donde corresponda
          });
        } else {
          Swal.fire({
              title: "¡Ocurrio un error!",
              text: "Error al eliminar el perfil.",
              confirmButtonColor: "#451321",
              icon: "error"
          });
        }
      } catch (err) {
        console.error("Error al eliminar cuenta:", err);
        Swal.fire({
            title: "¡Ocurrio un error!",
            text: "Error al modificar el perfil.",
            confirmButtonColor: "#451321",
            icon: "error"
        });
      }
    }
  });
</script>

<%- include('../layouts/footer'); %>
