<%- include('layouts/header', { title: 'Cambiar Contraseña' }); %>

<div>
  <%- include('layouts/navbar', { 
    title: 'Cambio de contraseña', 
    subtitle: 'Actualiza tu contraseña de forma segura' 
  }); %>

  <div class="main-content__body">
    <div class="password-container">
      <h2 class="form-title__h2">Cambiar Contraseña</h2>

      <form id="changePasswordForm" class="password-form" action="/api/users/<%= user.id %>">
        <div class="form-group">
          <label for="currentPassword">Contraseña actual</label>
          <input type="password" id="currentPassword" name="currentPassword" placeholder="Escribe tu contraseña actual" required>
        </div>

        <div class="form-group">
          <label for="newPassword">Nueva contraseña</label>
          <input type="password" id="newPassword" name="newPassword" placeholder="Escribe la nueva contraseña" required>
        </div>

        <div class="form-group">
          <label for="confirmPassword">Confirmar nueva contraseña</label>
          <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Repite la nueva contraseña" required>
        </div>

        <p style="color:red; text-align: center; padding-top: 1rem; font-style: italic;"></p>

        <button type="submit" class="confirm-btn">Guardar cambios</button>
      </form>
    </div>
  </div>
</div>

<style>
  .password-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
    margin: 2rem auto;
    background-color: white;
    color: #691c32;
    border-radius: 15px;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.3);
    padding: 2rem;
  }

  .form-title__h2 {
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    border-bottom: 1px solid #691c32;
  }

  .password-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
  }

  .form-group {
    display: flex;
    flex-direction: column;
  }

  .form-group label {
    margin-bottom: 0.25rem;
    font-weight: 450;
    font-size: large;
  }

  .form-group input {
    padding: 0.5rem;
    border: 1px solid #ced4da;
    border-radius: 10px;
    outline: none;
  }

  .form-group input:focus {
    border-color: #691c32;
    box-shadow: 0 0 5px rgba(212, 77, 92, 0.4);
  }

  .confirm-btn {
    align-self: center;
    width: 50%;
    max-height: 3rem;
    margin-top: 1rem;
    padding: .5rem 2rem;
    font-weight: 500;
    background-color: #691c32;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.25s ease-in-out;
  }

  .confirm-btn:hover {
    background-color: #451321;
  }
</style>

<script>
  const username = JSON.parse('<%- JSON.stringify(user.username) %>');
  const form = document.getElementById("changePasswordForm");

  const errorDisplay = document.querySelector('p');

  form.addEventListener("submit", async (event) => {
    event.preventDefault();

    const password = form.currentPassword.value.trim();
    const newPassword = form.newPassword.value.trim();
    const confirmPassword = form.confirmPassword.value.trim();

    try {
      if (newPassword !== confirmPassword)
        throw new Error("Las contraseñas nuevas no coinciden.");

      const payload = { username, password, newPassword };

      const response = await fetch(form.action, {
        method: "PATCH",
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify(payload)
      });

      const result = await response.json();

      if (!response.ok)
        throw new Error(result.message);

      errorDisplay.textContent = "Contraseña actualizada correctamente";

      await fetch('login', {
          method: "POST",
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify({ username, password: newPassword })
        });

      setTimeout(() => {
        window.location.replace('dashboard');
      }, 1000);
    } catch (error) {
      errorDisplay.textContent = error.message;
    }
  });
</script>

<%- include('layouts/footer'); %>
